!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    = stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: "img/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %title Mills Computer Club
              %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
              %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
  %body
    = stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    = stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
    .row
      .col-lg-12
        = flash[:notice]
        %button.btn-google
          - if current_user
            Signed in as
            = succeed "!" do
              %strong= current_user.name
              = link_to "Sign out", signout_path, id:"sign_out"
          - else
            = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" 
      %a.brand{:href =>root_path} Mills Computer Club
      .address-bar 5000 MacArthur Boulevard | Oakland, CA 94613 | mcc@mills.edu
      = render 'layouts/navbar'

      = yield

    %footer
      .container
        .row
          .col-lg-12.text-center
            %p
              %a{:href => authors_path}Website Authorship