!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %body
  .row
    .col-lg-12
      = flash[:notice]
      %button.btn-google
        - if current_user
          Signed in as
          = succeed "!" do
            %strong= current_user.name
            = link_to "Sign out", signout_path, id:"sign_out"
        - else
          = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" 
    %a.brand{:href =>root_path} Mills Computer Club
    .address-bar 5000 MacArthur Boulevard | Oakland, CA 94613 | mcc@mills.edu
    / Navigation
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / navbar-brand is hidden on larger screens, but visible when the menu is collapsed
          %a.navbar-brand{:href => root_path} Mills Computer Club
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.mills-nav
            %li
              %a{:href => blog_path} Blog
            %li
              %a{:href => events_path} Events
            %li
              %a{:href => users_path} Members
            %li
              %a{:href => resources_path} Resources
            %li
              %a{:href => media_path} Media
        / /.navbar-collapse
      / /.container
    = yield

  %footer
    .container
      .row
        .col-lg-12.text-center
          %p
            %a{:href => authors_path}Website Authorship